@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full box-border;
  }

  body {
    @apply font-sans bg-primary-0 text-primary-400 relative min-h-full m-0 pb-940 md:pb-440;
  }

  h1,
  h2,
  h3 {
    @apply font-bold text-title-lg;
  }

  h4,
  h5 {
    @apply font-bold text-title-1;
  }

  h6 {
    @apply font-bold text-title-2;
  }

  div,
  p {
    @apply font-light text-body;
  }

  button {
    @apply font-bold text-button;
  }

  b,
  strong {
    @apply font-bold;
  }

  /* https://github.com/adoxography/tailwind-scrollbar/issues/15#issuecomment-826363463 */
  body,
  .overflow-auto,
  .overflow-scroll,
  .overflow-x-auto,
  .overflow-y-auto,
  .overflow-x-scroll,
  .overflow-y-scroll {
    @apply scrollbar scrollbar-thin scrollbar-thumb-collaction scrollbar-track-primary-0 scrollbar-thumb-rounded-1;
  }
}

@layer components {
  .text-body-short-1 {
    font-weight: 300;
  }
  .text-body-long-1 {
    font-weight: 300;
  }
  .text-headline-s-1 {
    font-weight: 600;
  }
  .text-headline-m-1 {
    font-weight: 700;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  }
}
